<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PokePicker</title>
</head>

<body style = "background-color: beige; color: red">
	<h1>Pokemon Picker For New Trainers</h1>
    <div> To get your first Pokemon select <a href = "/pokePicker">Pick Pokemon</a></div>
    <hr>
    <div>To see what Pokemon you got select <a href = "/pokeViewer">View Pokemon</a></div>
</body>

</html>