<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application </title>
</head>

<body style = "background-color: beige; color: red">
	<h1>PokePicker 9000</h1>
    <form onsubmit = "return confirm('Are you sure you want to submit your application?\nYou will not be able to change your information once submitted.')" action = "processPokePicker" method = "post">
    <fieldset>
        <strong>Trainer name: </strong>
        <input type = "text" name = "name">
        <br>
    </fieldset>
    <br>
    <input type = "reset">
    <input type = "submit" value = "Get your pokemon">
    
    </form>
	<hr>
    <a href = "/">HOME</a>
</body>

</html>
