<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PokePicker</title>
</head>

<body style = "background-color: beige; color: red">
	<h1>You got your Pokemon!</h1>
    Please return to the previous menu to view your Pokemon.
    <hr>
    <a href = "/">HOME</a>
</body>

</html>
