<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin GPA</title>
</head>

<body>
	<h1>Display GPAs Greater than or Equal to</h1>
    <form action = "processAdminGPA" method = "post">
        <strong>GPA: </strong>
        <input type = "text" name = "gpa">
        <br><br>
        <input type = "submit" value = "Submit Request">
    </form>
    <hr>
    <a href = "/">HOME</a>
</body>

</html>
